.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #1a2920;
  padding: 0 10%;
  color: white;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  background: linear-gradient(90deg, #2c7249, #0f7a16);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  text-shadow: 0 0 18px rgba(17, 103, 26, 0.8);
}
