.item {
  margin: 0;
  height: 100%;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 16px;
}

.content h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
}

.actions {
  padding: 1rem;
  text-align: center;
}

.content address{
  margin: 0;
  font-style: normal;
  font-size: 14px;
  color: rgb(14, 13, 13);
}

.actions button {
  font: inherit;
  cursor: pointer;
  color:  #1a2920;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}