.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
}

.card:hover{
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}
